@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
  font-family: 'Open Sans', sans-serif;
}
body{
  overflow: hidden;
}
.container{
  height: 100vh;
  padding: 50px;
  position: relative;
}
.center{
  height:100%;
  position: relative;
  overflow-y: scroll ;
  overflow-x: hidden;
}
.shadow{
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background: linear-gradient(to right, rgb(92, 97, 89), rgb(51, 139, 147));
  opacity: 0.5;
  position: absolute;
  z-index: 3;
}
.app-layout-navbar{
  display: block;
  width: 100%;
  font-size: 24px;
  color: #fff;
  position: relative;
}
.app-layout-navbar > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  list-style-type:none;
}
.app-layout-navbar > ul > li:first-child{
  flex-basis: 66.33%; 
}
.link-item{
  color:#fff;
  text-decoration: none;
  letter-spacing: 2px;
}
.title{
  font-size: 50px;
  color:#eee8e8;
  text-align: center;
  margin-top: 20px;
}
.sub-title{
  color:#bdc3c3;
  margin-top: 60px;
  text-align: center; 
}
.traking-btn{
  display: inline-block;
  background-color: #00c46a;
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
}
.container_{
  color: #fff !important;
  position: relative;
}
.card{
  position: relative;
  z-index: 4;
}
.price-container{
  display: flex;
  width: 1000px;
  margin: auto;
  position:relative;
  color: #fff;
  margin-top:100px;
}
.price-container > .left{
  width: 400px;
}
.price-container > .left > p{
  margin-top: 40px;
  font-size: 18px;
}
.price-container > .right {
  width: 600px;
  height: 600px;
}
.price-container > .right > img{
  width: 600px;
  height: 600px;
  display: block;
  margin:auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-container{
  display: flex;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
}
.product-container > .left{
  width: 600px;
  margin-right: 50px;
}
.product-container > .left > img{
  width: 500px;
  height: 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product-container > .right{
  width: 400px;
  text-align: center;
  color: #fff;
}

.product-container > .right > p{
  margin-top: 30px;
  font-size: 18px;
  font-weight: bolder;
}
.logInButton{
  display: block;
  width: 170px ;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 35px;
  background-color: #00c46a;
  border-radius: 10px;
  color:#242a2e;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
}
.login-card{
  width: 400px;
  height: 300px;
  background: #d2d7da;
  margin:  auto;
  border-radius: 20px;
  margin-top: 100px;

  
}
.login-card > form{
  display: flex !important;
  flex-direction: column;
  width: 200px;
  display: block;
  margin:auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.login-card > form > label{
  margin-top: 20px;
  margin-bottom: 5px;
  word-spacing: 6px;
  letter-spacing: 2px;
}
.login-card > form > input{
  height: 30px;
}
.login-btn{
  width: 140px;
  height: 25px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 3px;
  background-color: #84f0bd;
  cursor: pointer;
}

.app-container{
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.app-center{
  height: calc(100vh - 40px);
  width: calc(100% - 40px);
  margin: auto;
  background:black;
  display: flex;
}
.app-left{
  width: 500px;
  height: 100%;
  background: #2d3439;
  overflow-y: scroll;
}
.app-right{
  width: calc(100% - 500px);
  height: 100%;
}
.map{
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.app-navbar{
  width: 200px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-navbar > ul{
  background: rgb(64, 67, 64);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.app-navbar > ul > li{
  padding: 10px;

}
.app-navlink{
  color:#fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}
.active-app-navlink{
  background: rgb(216, 152, 152);
}
.logout-bar{
  width: 250px;
  height: 60px;
  background: rgb(85, 80, 80);
  position: absolute;
  top:0;
  right: 0;
  z-index: 999;
  margin:50px 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logout-bar >img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logout-bar > .username{
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}
.logout-bar > button{
  padding: 5px 8px;
  background: linear-gradient(#313030, #646467);
  color:#fff;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.show-city-container{
  margin:auto;
  text-align: center;
}
.no-city-selected{
  font-size: 30px;
  font-weight: bolder;
  color:#fff;
  margin: 20px;
}
.city-information{
  color:#fff;
  font-weight: bolder;
  font-size: 18px;
}
.show-city-row{
  margin:10px;
}
.mark-button{
  width: 200px;
  height: 40px;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
}
.city-records{
  width: fit-content;
  background-color: #575555;
  margin:auto;
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
}
.city-records > ul{
  list-style-type: none;
}
.city-records > ul > li{
  margin:10px 5px;
}
.city-records > ul > li > span{
  display: block;
  margin: 5px;
}
.record-header{
  font-size: 18px;
  font-weight: bolder;
}
.record-item{
  color: #fff;
  margin-left: 5px;
}
.add-description{
  padding: 5px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 140px;
  display: flex;  
  justify-content: space-around;
  align-items: center;
  color:#fff;
  font-weight: bolder;
}
.fa-solid{
  color: black;
}
.description-container{
  display: flex;
  flex-direction: column;
}
.description-container > label{
  color: #fff;
  font-weight: bolder;
}
.description-container > button{
  margin: 10px;
  width: 100px;
  height: 30px;
  
}
.delete-record-btn{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.fa-trash{
  color: #fff !important;
}
.country-container{
  margin-top: 40px;
}
.country-container > ul{
  width: fit-content;
  color: #fff;
  font-weight: bolder;
  text-align: left;
  margin: auto;
}
.use-your-location{
  width: 350px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.319);
  position: absolute;
  z-index: 999;
  bottom: 50px;
  right: 50px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .logout-bar{
    display: none;
  }
  .use-your-location{
    display: none;
  }
}